// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile{
    display: flex;
}

.friend_section{
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user_info{
    padding: 20px;
    width: fit-content;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    background-color: white;
    .image{
        margin: auto;
        height: 150px;
        img{
            max-width: 100%;
            max-height: 100%;
            width: auto;
        }
    }
    div{
        margin-top: 10px;
        font-size: 1.15em;
        a{
            font-size: 1.05em;
        }
    }
 
 }
 .user_add{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    a{
        margin-top: 20px;
        font-size: 1.05em;
    }
 }
 
 // Place all the styles related to the Pages controller here.
 // They will automatically be included in application.css.
 // You can use Sass (SCSS) here: http://sass-lang.com/
 
 
 .image_cover{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    img{
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
    }
 }
 
 .form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 116px -22px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 116px -22px rgba(0,0,0,1);
    box-shadow: 0px 0px 116px -22px rgba(0,0,0,1);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    .field{
        margin: 0;
        font-size: 1.4em;
        input{
            border: 1px solid black;
            border-radius: 10px;
        }
        em{
            font-size: 0.8em;
        }
    }
    .actions{
        margin-top: 10px;
        input{
            font-size: 1.4em;
            margin-bottom: 20px;
        }
    }
    .alert{
        color: red;
    }
 }
 
 .banner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    border-radius: 50px;
    padding: 40px;
    p{
        font-size: 1.16em;
    }
    .left{
        float: left;
        width:70%;
    }
    .right{
        margin-top: 30px;
        direction: rtl;
        float: right;
        width:70%;
    }
 }
 
 .content{
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .section{
        width: fit-content;
        background-color: white;
        margin: auto;
        padding: 30px;
        border-radius: 30px;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 7px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 7px 0px rgba(255,255,255,1);
 
        a{ 
            margin-top: 20px;
            font-size: 1.2em;
        }
    }
 }
 .users_show{
    margin: auto;
    margin-top: 2%;
    width: 60%;
    min-height: fit-content;
    max-height: 60%;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    .table{
        height: 90%;
        width:80%;
        margin: auto;
        overflow: scroll;
        img{
            height: 60px;
        }
        td{
            vertical-align: middle;
        }
    }
 }