<br>
<h1> CREA UNA NUOVA CATEGORIA: </h1>
<br>
<%= form_tag :action => 'create' do %>

<p><label for = "name">Nome categoria</label>:
<%= text_field 'categories', 'name' %></p>




<%= submit_tag "Crea" %>

<% end -%>
<br>
<%= link_to 'Back', {:action => 'index'} %>